<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/software_640.jpg" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" href="#">JS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Swift</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Java</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">C#</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
</ul>

</nav>
