<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">
    <img src="assets/software_640.jpg" alt="logo" style="width:40px;">
  </a>

  <!-- Links -->
<ul class="navbar-nav">
    <!-- Dropdown -->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      Languages
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">JS</a>
      <a class="dropdown-item" href="#">Swift</a>
      <a class="dropdown-item" href="#">Java</a>
      <a class="dropdown-item" href="#">C#</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">About</a>
  </li>
</ul>

</nav>
