<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
  <div class="jumbotron text-center">
      <h1>About me</h1>
      <p>Hello</p>
  </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
